korner_noah_assignment8/korner_noah_assignment8/Connected Services/StockRelatedWebServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetTop10USIndices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10USIndicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTop10USIndicesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStockQuoteResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortIndicesLowHigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SortIndicesLowHighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SortIndicesLowHighResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcTransactionPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numShares" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcTransactionPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcTransactionPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumSharesWithDollarCostAvg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monthlyInvestment" type="xs:decimal" />
        <xs:element minOccurs="0" name="numYears" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumSharesWithDollarCostAvgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumSharesWithDollarCostAvgResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>