korner_noah_assignment8/korner_noah_assignment8/Connected Services/StockRelatedWebServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page1/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page1/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetTop10USIndices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop10USIndices" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop10USIndices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop10USIndicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStockQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockQuote" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStockQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SortIndicesLowHigh_InputMessage">
    <wsdl:part name="parameters" element="tns:SortIndicesLowHigh" />
  </wsdl:message>
  <wsdl:message name="IService1_SortIndicesLowHigh_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortIndicesLowHighResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CalcTransactionPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcTransactionPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_CalcTransactionPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcTransactionPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumSharesWithDollarCostAvg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumSharesWithDollarCostAvg" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumSharesWithDollarCostAvg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumSharesWithDollarCostAvgResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetTop10USIndices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTop10USIndices" message="tns:IService1_GetTop10USIndices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTop10USIndicesResponse" message="tns:IService1_GetTop10USIndices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStockQuote" message="tns:IService1_GetStockQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStockQuoteResponse" message="tns:IService1_GetStockQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortIndicesLowHigh">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SortIndicesLowHigh" message="tns:IService1_SortIndicesLowHigh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SortIndicesLowHighResponse" message="tns:IService1_SortIndicesLowHigh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcTransactionPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CalcTransactionPrice" message="tns:IService1_CalcTransactionPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalcTransactionPriceResponse" message="tns:IService1_CalcTransactionPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumSharesWithDollarCostAvg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNumSharesWithDollarCostAvg" message="tns:IService1_GetNumSharesWithDollarCostAvg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNumSharesWithDollarCostAvgResponse" message="tns:IService1_GetNumSharesWithDollarCostAvg_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTop10USIndices">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTop10USIndices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockQuote">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortIndicesLowHigh">
      <soap:operation soapAction="http://tempuri.org/IService1/SortIndicesLowHigh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcTransactionPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/CalcTransactionPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumSharesWithDollarCostAvg">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNumSharesWithDollarCostAvg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar39.fulton.asu.edu/Page1/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>